<h1>User Profiles</h1>
<form>
    <label for="userName">User Name:</label>
    <input type="text" name="userName" [(ngModel)]="userName" placeholder="{{userName}}" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" [(ngModel)]="email" placeholder="{{email}}" required>
    <br>
    <label for="birthDate">Birth Date:</label>
    <input type="text" name="birthDate" [(ngModel)]="birthDate" placeholder="{{birthDate}}" required>
    <br>
    <label for="age">Age:</label>
    <input type="number" name="age" [(ngModel)]="age" placeholder="{{age}}" required>
    <br>
    <button type="submit" (click)="updateUser($event)">Update</button>
</form>
<div>
    Welcome, {{ userName }}!
    <button class="btn btn-primary navbar-btn pull-right" (click)="logout()">Logout</button>
</div>

